@h1Size: 32px;
@h2Size: 28px;
@h3Size: 24px;
@h4Size: 20px;
@pSize: 18px;
@minSize: 16px;
@zhuC: #4f6a85; // main color
@zhuH: #6e8eae; // hover + title
@fuOne: #95a5a6; // gray1
@fuTow: #8c8c8c; // gray2 deep

@6: rgba(0,0,0,.6);
@7: rgba(0,0,0,.7);
@8: rgba(0,0,0,.8);
@9: rgba(0,0,0,.9);
